rofi.font: Avenir LT 65 Medium 25

rofi.color-window: #242321, #35322d                                                                                                        
rofi.color-normal: #242321, #f8f6f2, #35322d, #0a9dff, #f8f6f2                                                                                      
rofi.color-active: #ff9eb8, #f8f6f2, #35322d, #0a9dff, #f8f6f2                                                                                      
rofi.color-urgent: #ff2c4b, #f8f6f2, #35322d, #0a9dff, #f8f6f2 

!! Appearance
urxvt.termName: rxvt-unicode
urxvt.scrollBar: false
!! Font prefferenes
urxvt.font: xft:DejaVu Sans Mono:size=12
urxvt.boldFont: xft:DejaVu Sans Mono:size=12:weight=bold
urxvt.letterSpace: -1
!! Larger history limit
urxvt.saveLines: 1000000

urxvt.iso14755: true
urxvt.iso14755_52: false

URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

!! Perl extensions
urxvt.perl-ext-common: default,matcher,font-size
!! Open urls in browser with Control-Click
urxvt.urlLauncher: /usr/bin/firefox
urxvt.matcher.button: C1
!! Change font size on Control-Plus/Minus
urxvt.keysym.Control-0x2b: perl:font-size:increase
urxvt.keysym.Control-0x2d: perl:font-size:decrease

!! Color theme

! special
urxvt.foreground:   #ebece6
urxvt.background:   #1e1f29
urxvt.cursorColor:  #ebece6

! black
urxvt.color0:       #000000
urxvt.color8:       #555555

! red
urxvt.color1:       #fc4346
urxvt.color9:       #fc4346

! green
urxvt.color2:       #50fb7c
urxvt.color10:      #50fb7c

! yellow
urxvt.color3:       #f0fb8c
urxvt.color11:      #f0fb8c

! blue
urxvt.color4:       #49baff
urxvt.color12:      #49baff

! magenta
urxvt.color5:       #fc4cb4
urxvt.color13:      #fc4cb4

! cyan
urxvt.color6:       #8be9fe
urxvt.color14:      #8be9fe

! white
urxvt.color7:       #ededec
urxvt.color15:      #ededec


!! Run xrdb -merge ~/.Xresources to apply changes.