[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[ROOT-A]
row=2
col=0

[4.1 KB Volume]
row=4
col=0

[658 MB Volume]
row=8
col=0

[2C8E-7678]
row=3
col=0

[878c98e2-c2c3-44de-a43f-94879b9cf8eb]
row=0
col=0

[147 MB Volume]
row=7
col=0

[Trash]
row=9
col=0

[/]
row=10
col=0

[/home/seongmin]
row=11
col=0

